body {
    background: white url(pacote-d013/pacote-d013/imagens/fundo-madeira.jpg) top center no-repeat fixed;
    background-size: cover;
}
main {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
main > img {
    display: relative;
    height: 617px;
}
iframe {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 258px;
    height: 460px;
    margin-top: 80px;
    border: none;
    border-radius: 2px;
    background-size: cover;
}
section {
    display: flex;
    position: absolute;
    justify-content: right;
    left: 93%;
    width: 80px;

}
nav {
    display: flex;
    flex-direction: column;
    
}
nav > a > img {
    border-radius: 50%;
    width: 50px;
    margin: 0px;
    min-width: 40px;
    margin-top: 20px;
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.445);
}
nav > a {
    box-sizing: border-box;
}
nav > a:hover > img {
    transform: translate(-5px, -5px);
    transition: 0.6s;
    box-sizing: border-box;
    border: white solid 2px;
    box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.705);
}